{% extends "index.html" %}

{% block content %}
<div class="container">
  <h3>Song Features</h3>
  <table style="float:left;">
  {% for c in s_chacteristic %}
  <tr>
    <th>{{c}}</th>
  </tr>
  {% endfor %}
</table>
<table style="float:left;">
  {% for p in s_params %}
  <tr>
    <td>{{p[0]}}</td>
  </tr>
  {% endfor %}
</table>

</div>
<div style="padding-left:10em;">
<h3>Similar Tracks</h3>
<ul>
    {% for u in urls %}
    <a href="{{ u }}">{{ u }}</a>
    {% endfor %}
</ul>
<div style="padding-left:0em;">
  <table>
<h3>Artist Name</h3>
    {% for a in artist %}
    <tr>
      <td>{{a}}</td>
    </tr>
    {% endfor %}

  
  <table style="float:left;">
    <h3>Track Name</h3>
    
    {% for t in track %}
    <tr>
      <td>{{t}}</td>
    </tr>
    {% endfor %}
    
  </table>
</div>



</div>
<div>
<table>
  <tr>
    <th>Similar Tracks</th>
    <th>Artist Name</th>
    <th>Track Name</th>
  </tr>
  <tr>
    {% for t in track %}
    <tr>
      <td>{{t}}</td>
    </tr>
    {% endfor %}
    {% for a in artist %}
    <tr>
      <td>{{a}}</td>
    </tr>
    {% endfor %}
    <tr>
    {% for u in urls %}
    <td></td><a href="{{ u }}">{{ u }}</a></td>
    {% endfor %}
    </tr>
  </tr>
</table>
</div>
{% endblock %}
  