<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
</head>
<body>
    <nav>
        <div class="menu">
            <a href="/" class="brand"><span>SPOTIFY SONG RECOMMENDER</span></a>
        </div>
    </nav>
    <article class="flex two" style="padding: 10em 10em;">
        <div style= "width:300px; margin:0 auto;">
            <form>
                <label for="song">Enter a song:</label><br>
                <input type="text" id="song" name="song"><br>
            </form>
            <a href="/submit" class="button primary">Recommend</a>

        </div>
        <!-- {% block content %}
        {% for user in users %}
            <p>{{ user.username }}</p>
          {% endfor %}
        {% endblock %} -->
        <!-- .center {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px; -->
    </article>

</body>
</html>