<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
</head>
<body>
    <nav>
        <div class="menu">
            <a href="/" class="brand"><span>SPOTIFY SONG RECOMMENDER</span></a>
        </div>
    </nav>
    <article class="flex two" style="padding: 5em 5em;">
        <div style= "width:500px; margin:0 auto;">
            <form action="/submit" method="GET"> 

                <label for="song">Enter a song:</label><br>
                <input type="text" id="song" name="song"><br>

                <input type="submit" value="Recommend" class="button primary">
            
            </form>
        
        </div>
        {% block content %}


        {% endblock %}
   
    </article>

</body>
</html>